{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

<h1>
<p class="extra">
<a class="link" href="https://uin-suska.ac.id">@Kampusku</a> | <a class="link" href="https://fst.uin-suska.ac.id">@fakultasku</a> | <a class="link" href="https://sif.uin-suska.ac.id">@Program Studi</a>
</p></h1>
        <h3 class="title">{{ site.name }}</h3>
        <h4 class="description">{{ site.bio }}</h4>
		</header>
		<table width="200" border="0">
  <tr>
    <td align="center"><audio controls><source src="{{site.url}}/assets/24l.mp3" type="audio/mpeg"></audio></td>
    <td align="center"><audio controls><source src="{{site.url}}/assets/24p.mp3" type="audio/mpeg"></audio></td>
  </tr>
  <tr>
    <td align="center">lagu laki-laki</td>
    <td align="center">suara perempuan</td>
  </tr>
{% endif %}
